.result-exercises--container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.exercise--container {
    width: 8rem;
    height: 8rem;
    position: relative;
    display: inline-block;
}

.result-exercise--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    padding-top: 5em;
}