header {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header section {
  background-color: #191615;
  padding: .3em 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo--container {
  padding: 3px;
}

.logo-text {
  font-family: DelaGothicOne, serif;
  font-size: 2rem;
  color: #fbf5f3;
}

.header-login-register--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-login--form {
    margin-left: 0.8em;
}

.header-login-register--container a {
  margin: 0.8em;
}

@media screen and (max-width: 900px) {
  .logo-text {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 710px) {
  .header-login-register--container {
    right: 0;
  }
}

@media screen and (max-width: 580px) {
  .logo--container {
    display: none;
  }
}

@media screen and (max-width: 460px) {
  .header-login-register--container a {
    margin: .5em;
  }
}

@media screen and (max-width: 380px) {
  .header-login-register--container a {
    font-size: .8rem;
  }
}