.register--form {
  top: 45%;
  margin-top: 4em;
  width: 36.2em;
}

.register-form-block {
  display: flex;
  width: 100%;
}

input {
  width: 100%;
}

.register-text {
  color: #FBF5F3;
}

@media screen and (max-width: 630px) {  
  .main-login-register--container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  input {
    width: 100%;
  }
}