html,
body {
	overflow-y: hidden;
}

.form-wrapper {
  width: 100%;
  height: 100%;

  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.register--form {
  margin: 16px 0;
}

.register-form-block {
  display: flex;
  width: 100%;
}

input {
  width: 100%;
}

.register-text {
  color: #FBF5F3;
}

header {
  position:unset !important;
}

.form-button:hover {
  cursor: pointer;
}

.hidden-button {
  display: none;
}

.visible-button {
  display: inherit;
}

@media screen and (max-width: 630px) {  
  .main-login-register--container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  input {
    width: 100%;
  }
}
