.form-wrapper {
  width: 100%;
  height: 100%;

  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.settings--form {
  width: 36.2em;
  margin: 0;
  position: absolute;
  top: 20%;
}

.settings-form-block {
  display: flex;
  width: 100%;
}

input {
  width: 100%;
}

.settings-text {
  color: #FBF5F3;
}

.form-button:hover {
  cursor: pointer;
}

.hidden-button {
  display: none;
}

.visible-button {
  display: inherit;
}

@media screen and (max-width: 630px) {  
  .settings--form {
    width: 80vw;
  }

  .main-login-settings--container{
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  input {
    width: 100%;
  }
}
