/* Font declaration */
@font-face {
	font-family: Alata;
	src: url("../../../public/src/fonts/Alata-Regular.ttf");
}

@font-face {
	font-family: DelaGothicOne;
	src: url("../../../public/src/fonts/DelaGothicOne-Regular.ttf");
}

@font-face {
	font-family: FredokaOne;
	src: url("../../../public/src/fonts/FredokaOne-Regular.ttf");
}

@font-face {
	font-family: TrainOne;
	src: url("../../../public/src/fonts/TrainOne-Regular.ttf");
}

@font-face {
	font-family: ZillaSlabHighlightBold;
	src: url("../../../public/src/fonts/ZillaSlabHighlight-Bold.ttf");
}

@font-face {
	font-family: ZillaSlabHighlightRegular;
	src: url("../../../public/src/fonts/ZillaSlabHighlight-Regular.ttf");
}


/*

Main colors:

	White: #FBF5F3
	Background: #A24936
	Accent 1: #D36135
	Accent 2: #45462A
	Black: #282B28

*/

* {
	margin: 0;
	padding: 0;
}

/* body {
} */

header {
	display: block;
	position: fixed;
	width: 100%;
}

header section {
	background-color: #793627;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

a {
	text-decoration: none;
	font-family: TrainOne;
	color: #FBF5F3;
	-webkit-transition: color 0.5s;
    transition: color 0.5s;
}

a:hover {
	color: #C8C9A6;
}

input {
	background-color: #282B28;
	color: #FBF5F3;
	font-family: Alata;
	font-size: 1.5rem;
	padding: 0.5rem;
	border-radius: 0.3rem;
	margin: 5px 0;
}

button {
	border-radius: 0.5rem;
	padding: 0.2rem 0.5rem;
	font-family: Alata;
	font-size: 1.2rem;
	outline: none;
}

.a--btn {
	font-family: Alata;
	padding: 0.2rem 0.5rem;
	border: solid 1px black;
	border-radius: 5em;
}

.green--btn {
	background-color: #45462A;
	color: #FBF5F3;
}

/* .blue--btn {

}

.red--btn {

}

.white--btn {

} */

.gray--btn {
	background-color: #dd6300;
	color: #000000;
}

.logo--container {
	padding: 3px;
}

.logo-text {
	font-family: DelaGothicOne;
	font-size: 2rem;
	color: #FBF5F3;
}

.header-login-register--container {
	display: flex;
	justify-content: space-between;
}

.header-login-register--container a {
	margin: 0.8em;
}

.main-login-register--container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}


.workout-background-image {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(to left, rgba(162, 74, 54, 0.87), #a24a3654), url("https://images.unsplash.com/photo-1581009137042-c552e485697a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.motivational-text--container {
	font-family: ZillaSlabHighlightBold;
	font-size: 3rem;
}

.landing-main--container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
}

.motivational-text--container {
	display: inline-block;
	width: 40%;
	height: auto;
}

/* .motivational-text {
	position: relative;
	top: 50%;
} */

.register-form--container {
	display: inline-block;
	margin-right: 3rem;
}

.register-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
}

.register-form h3 {
	font-family: Alata;
	font-size: 1.2rem;
	color: #FBF5F3;
}

.center--container {
	position: absolute;
	top: 50%;
	left:50%;
  transform: translate(-50%, -50%);
	margin-right: 3rem;
}