/* Font declaration */
@font-face {
  font-family: Alata;
  src: url("../../../public/src/fonts/Alata-Regular.ttf");
}

@font-face {
  font-family: DelaGothicOne;
  src: url("../../../public/src/fonts/DelaGothicOne-Regular.ttf");
}

@font-face {
  font-family: FredokaOne;
  src: url("../../../public/src/fonts/FredokaOne-Regular.ttf");
}

@font-face {
  font-family: TrainOne;
  src: url("../../../public/src/fonts/TrainOne-Regular.ttf");
}

@font-face {
  font-family: ZillaSlabHighlightBold;
  src: url("../../../public/src/fonts/ZillaSlabHighlight-Bold.ttf");
}

@font-face {
  font-family: ZillaSlabHighlightRegular;
  src: url("../../../public/src/fonts/ZillaSlabHighlight-Regular.ttf");
}

/*

Main colors:

	White: #FBF5F3
	Background: #A24936
	Accent 1: #D36135
	Accent 2: #45462A
	Black: #282B28

*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #793627;
}

header {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header section {
  background-color: #793627;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  font-family: Alata;
  color: #fbf5f3;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

a:hover {
  color: #c8c9a6;
}

input {
  background-color: #282b28;
  color: #fbf5f3;
  font-family: Alata;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 5px 0;
}

button {
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-family: Alata;
  font-size: 1.2rem;
  outline: none;
}

.a--btn {
  font-family: Alata;
  padding: 0.2rem 0.5rem;
  border: solid 1px black;
  border-radius: 5em;
}
.green--btn {
  background-color: #45462a;
  color: #fbf5f3;
}

.gray--btn {
  background-color: #a7a7a7;
  color: #282b28;
}

.gray--btn:hover {
  color: #575857;
}

.logo--container {
  padding: 3px;
}

.logo-text {
  font-family: DelaGothicOne;
  font-size: 2rem;
  color: #fbf5f3;
}

.header-login-register--container {
  display: flex;
  justify-content: space-between;
}

.header-login-register--container a {
  margin: 0.8em;
}

.main-login-register--container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.workout-background-image {
  width: auto;
  height: 100vh;
  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.motivational-text--container {
  font-family: ZillaSlabHighlightBold;
  font-size: 3rem;
}

.landing-main--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.motivational-text--container {
  display: inline-block;
  width: 40%;
  height: auto;
}

.motivational-text {
  /* font-size: 10em; */
  position: relative;
  top: 50%;
}

.register-form--container {
  display: inline-block;
  margin-right: 3rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.register-form h3 {
  font-family: Alata;
  font-size: 1.2rem;
  color: #fbf5f3;
}

.main-menu--container {
  margin-bottom: 2em;
}

.set-login-form-width {
  width: 18.1em;
}
.set-register-form-width {
  margin-top: 4em;
  width: 36.2em;
}

.center--container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: 3rem;
}

.side-btn {
  left: 10em;
}

.error-container {
  text-align: center;
  font-size: 180px;
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}
.error-container > span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #ffb485;
}
.error-container > span {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.error-container > span:nth-of-type(1) {
  color: #d1f2a5;
  animation: colordancing 4s infinite;
}
.error-container > span:nth-of-type(3) {
  color: #f56991;
  animation: colordancing2 4s infinite;
}
.error-container > span:nth-of-type(2) {
  width: 120px;
  height: 120px;
  border-radius: 999px;
}
.error-container > span:nth-of-type(2):before,
.error-container > span:nth-of-type(2):after {
  border-radius: 0%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 999px;
  box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
    inset 0 30px 0 rgba(239, 250, 180, 0.4),
    inset -30px 0 0 rgba(255, 196, 140, 0.4),
    inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  animation: shadowsdancing 4s infinite;
}
.error-container > span:nth-of-type(2):before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.screen-reader-text {
  position: absolute;
  top: -9999em;
  left: -9999em;
}
@keyframes shadowsdancing {
  0% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
      inset 0 30px 0 rgba(239, 250, 180, 0.4),
      inset -30px 0 0 rgba(255, 196, 140, 0.4),
      inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
  25% {
    box-shadow: inset 30px 0 0 rgba(245, 105, 145, 0.4),
      inset 0 30px 0 rgba(209, 242, 165, 0.4),
      inset -30px 0 0 rgba(239, 250, 180, 0.4),
      inset 0 -30px 0 rgba(255, 196, 140, 0.4);
  }
  50% {
    box-shadow: inset 30px 0 0 rgba(255, 196, 140, 0.4),
      inset 0 30px 0 rgba(245, 105, 145, 0.4),
      inset -30px 0 0 rgba(209, 242, 165, 0.4),
      inset 0 -30px 0 rgba(239, 250, 180, 0.4);
  }
  75% {
    box-shadow: inset 30px 0 0 rgba(239, 250, 180, 0.4),
      inset 0 30px 0 rgba(255, 196, 140, 0.4),
      inset -30px 0 0 rgba(245, 105, 145, 0.4),
      inset 0 -30px 0 rgba(209, 242, 165, 0.4);
  }
  100% {
    box-shadow: inset 30px 0 0 rgba(209, 242, 165, 0.4),
      inset 0 30px 0 rgba(239, 250, 180, 0.4),
      inset -30px 0 0 rgba(255, 196, 140, 0.4),
      inset 0 -30px 0 rgba(245, 105, 145, 0.4);
  }
}
@keyframes colordancing {
  0% {
    color: #d1f2a5;
  }
  25% {
    color: #f56991;
  }
  50% {
    color: #ffc48c;
  }
  75% {
    color: #effab4;
  }
  100% {
    color: #d1f2a5;
  }
}
@keyframes colordancing2 {
  0% {
    color: #ffc48c;
  }
  25% {
    color: #effab4;
  }
  50% {
    color: #d1f2a5;
  }
  75% {
    color: #f56991;
  }
  100% {
    color: #ffc48c;
  }
}

@media screen and (max-width: 860px) {
  .motivational-text--container {
    margin-top: 1em;
    display: block;
	position: absolute;
	top: 1rem;
    width: 80%;
    font-size: 2.7em;
  }

  .landing-main--container {
    flex-wrap: wrap;
  }

  .register-form--container {
    position: absolute;
	bottom: 2rem;
	right: 0;
  }
  
  .logo-text {
    font-size: 1.3em;
  }

  .set-register-form-width {
    width: 18.1em;
    height: 100%;
  }
}

@media screen and (max-width: 660px) {
  .set-register-form-width {
    width: 18.1em;
  }
}

@media screen and (max-width: 550px) {
	.motivational-text--container {
		display: none;
	}

	.register-form--container {
		right: 50%;
		transform: translate(50%, 0);
		margin: 0;
	}
}

@media screen and (max-width: 360px) {
	.main-menu--container {
		font-size: 0.8rem;
	}

	.register-form--container,
	.register-form * {
		font-size: 1rem;
	}
}