/* Font declaration */
@font-face {
  font-family: Alata;
  src: url("../../../public/src/fonts/Alata-Regular.ttf");
}

@font-face {
  font-family: DelaGothicOne;
  src: url("../../../public/src/fonts/DelaGothicOne-Regular.ttf");
}

@font-face {
  font-family: FredokaOne;
  src: url("../../../public/src/fonts/FredokaOne-Regular.ttf");
}

@font-face {
  font-family: TrainOne;
  src: url("../../../public/src/fonts/TrainOne-Regular.ttf");
}

@font-face {
  font-family: ZillaSlabHighlightBold;
  src: url("../../../public/src/fonts/ZillaSlabHighlight-Bold.ttf");
}

@font-face {
  font-family: ZillaSlabHighlightRegular;
  src: url("../../../public/src/fonts/ZillaSlabHighlight-Regular.ttf");
}

@font-face {
  font-family: PressStart2P;
  src: url("../../../public/src/fonts/PressStart2P-Regular.ttf");
}

/*

Main colors:

	White: #FBF5F3
	Background: #A24936
	Accent 1: #D36135
	Accent 2: #45462A
	Black: #282B28

*/

* {
  margin: 0;
  padding: 0;
}


.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 18px;
  background: #282B28;
  outline: none;
  opacity: 0.8  ;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 80%;
  background: #026ba8;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}


body {
  background: linear-gradient(0deg, rgb(206, 92, 64) 10%, rgba(121,54,39,1) 90%);
  height: 100vh;
  width: 100vw;
}

header {
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header section {
  background-color: #793627;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  font-family: Alata, serif;
  color: #fbf5f3;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

a:hover {
  color: #c8c9a6;
}

input, select {
  background-color: #282b28;
  color: #fbf5f3;
  font-family: Alata, serif;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  margin: 5px 0;
}

.font--alata{
  font-family: Alata, serif;
}

button {
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-family: Alata, serif;
  font-size: 1.2rem;
  outline: none;
}

.pointable {
  cursor: pointer;
}

.a--btn {
  font-family: Alata, serif;
  padding: 1rem 0.8rem;
  border: solid 1px black;
  border-radius: 0.3em;
  margin-top: 0.2rem;
  height: fit-content;
}
.green--btn {
  background-color: #45462a;
  color: #fbf5f3;
}

.gray--btn {
  background-color: #414549;
  color: #fbf5f3;
}

.gray--btn:hover {
  color: #b2acc0;
}

.logo--container {
  padding: 3px;
}

.logo-text {
  font-family: DelaGothicOne, serif;
  font-size: 2rem;
  color: #fbf5f3;
}

.header-login-register--container {
  display: flex;
  justify-content: space-between;
}

.header-login-register--container a {
  margin: 0.8em;
}


.workout-background-image {
  width: auto;
  height: 100vh;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.motivational-text--container {
  font-family: ZillaSlabHighlightBold, sans-serif;
  font-size: 2.5rem;
}

.landing-main--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.motivational-text--container {
  display: inline-block;
  width: 50%;
  height: auto;
}

.motivational-text {
  position: relative;
  top: 50%;
}

.main-menu--container {
  margin-bottom: 2em;
}

.set-register-form-width {
  margin-top: 4em;
  width: 36.2em;
}

.center--container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.side-btn {
  left: 10em;
}

.general-info--container p, ul{
  font-family: Alata, serif;
  font-size: 1rem;

}
.general-info--container hr{
  margin: 0.5em 0;
  width: 90%;
  color: rgb(41, 65, 65)
}

.infoPanel--container{
  overflow: scroll;
  width: 500px;
  height: 300px;
  font-family: Alata, serif;
  background-color: transparent;
  overflow-x: hidden;
  color: rgb(223, 213, 124);
  font-size: 1.2em;
}

::-webkit-scrollbar{
  width:15px;
}

::-webkit-scrollbar-track {
  background: #979797;
}

::-webkit-scrollbar-thumb {
  background: rgb(223, 213, 124);
}

.generator-form--container{
  width: 21rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.generator-form--container input{
  width :100%;
}

.generator-form-title{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom:1rem ;
}

.exercise--container{
  width: 8rem;
  height: 8rem;
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 900px) {
  .motivational-text--container {
    margin-top: 1em;
    display: block;
    position: absolute;
    top: 1rem;
    width: 100%;
    font-size: 2.2rem;
  }

  .infoPanel--container{
    position: absolute;
    right: 0;
    bottom: 10%;
  }

  .general-info--container{
    top:auto;
    right: auto;
    bottom: 1%;
    transform: translate(-50%, 0);
    left: 50%;
  }

  .landing-main--container {
    flex-wrap: wrap;
  }

  .logo-text {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 630px) {
  .motivational-text--container {
    display: none;
  }

  .general-info--container{
    top:20%;
    right: auto;
    transform: translate(-50%, 0);
    left: 50%;
    bottom: auto;
  }

  .register-form--container {
    right: 50%;
    transform: translate(50%, 0);
    margin: 0;

  }

  .set-register-form-width{
    width: 15rem;
  }

  .set-register-form-width input, select{
    font-size: 0.8rem;
    padding:0.3rem;
  }
}

@media screen and (max-width: 360px) {
  .main-menu--container {
    font-size: 0.8rem;
  }

  .register-form--container,
  .register-form * {
    font-size: 1rem;
  }
}
