.workout--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.workout-main--container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.workout-main-content--container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 500px;
  width: 400px;
}

.workout-main-content--container hr {
  width: 80%;
  margin: .2rem 0;
  padding: 0;
}

.workout-main-content--container ul {
  display: flex;
  justify-content: flex-start;
}

.workout-main-content--container ul li {
  margin: .3rem 0;
}

.workout-main--content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.workout--button {
  margin: 0 .66rem;
}